<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap/style.css' />
    <link rel="stylesheet" href="/css/jstree/themes/default/style.min.css" />
    <link rel="stylesheet" href="/css/north.css" />
    <script src="/js/jquery-1.9.1.js" type="text/javascript"></script>
    <script src="/js/jquery-ui.js" type="text/javascript"></script>
    <script src="/js/jstree.js" type="text/javascript"></script>
    
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,800italic,400,600,800" type="text/css">
    <link rel="stylesheet" href="/css/admin-theme/font-awesome.min.css" type="text/css" />		
    <link rel="stylesheet" href="/css/admin-theme/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/admin-theme/jquery-ui.css" type="text/css" />
    <!--<link rel="stylesheet" href="/css/admin-theme/App.css" type="text/css" />
    <link rel="stylesheet" href="/css/admin-theme/jquery-ui-1.9.2.custom.css" type="text/css" />	
    <link rel="stylesheet" href="/css/admin-theme/custom.css" type="text/css" />
    -->

  </head>

<body>
    <%- body %>

<!--<script src="/js/admin-theme/jquery-1.9.1.min.js"></script>-->
<script src="/js/admin-theme/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/js/admin-theme/underscore.min.js"></script>
<script src="/js/admin-theme/bootstrap.min.js"></script>

<script src="/js/admin-theme/flot/jquery.flot.js"></script>
<script src="/js/admin-theme/flot/jquery.flot.orderBars.js"></script>

<script src="/js/admin-theme/flot/jquery.flot.tooltip.min.js"></script>

<script src="/js/admin-theme/charts/line.js"></script>
<script src="/js/admin-theme/App.js"></script>

</body>
</html>
